{% load static %}

<div class="space-20"></div>
<!--::::: FOOTER AREA START :::::::-->
<div class="footer footer_area3 white_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_footer3 mb30">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo/15.jpg' %}" alt="logo">
                        </a>
                        <div class="space-20"></div>
                        <p>Saytda eʼlon qilinayotgan mualliflik maqolalarida keltirilgan fikrlar muallifga tegishli va
                            ular TALQINVATADQIQOTLAR.UZ tahririyati nuqtai nazarini ifoda etmasligi mumkin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="contacts3">
                    <div class="single_contact3">
                        <h6>Telefon:</h6>
                        <a href="tel://+998911529314">+998 91 152 93 14</a>
                    </div>
                    <div class="single_contact3">
                        <h6>Elektron pochta:</h6>
                        <a href="talqin@bk.ru">talqin@bk.ru</a>
                    </div>
                    <div class="single_contact3">
                        <h6>Manzil:</h6>
                        <p>Farg‘ona viloyati, Bog‘dod tumani</p>
                    </div>
                </div>
                <div class="download_btn">
                    <div class="space-30"></div>
                    <div class="space-30"></div>
                    <div class="row">
                        <div class="col-lg-30">
                            <h3 class="widget-title">Mualliflik huquqi</h3>
                            <p>«TALQINVATADQIQOTLAR.UZ» saytida eʼlon qilingan materiallardan nusxa koʻchirish,
                                tarqatish va boshqa shakllarda foydalanish faqat tahririyat yozma roziligi bilan amalga
                                oshirilishi mumkin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <p>&copy; Copyright 2020, Barcha huquqlar himoyalangan.</p>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="copyright_menus text-right">
                        <div class="language"></div>
                        <div class="copyright_menu inline">
                            <ul>
                                <li><a>Talqin va tadqiqotlar ilmiy-uslubiy jurnali</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>